<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Clinic.master.cs" Inherits="ClinicWebApp.Clinic" %>
<%@ Register Src = "~/Controls/TopArea.ascx"    TagName = "TopArea"     TagPrefix = "ucTop" %>
<%@ Register Src = "~/Controls/Banner.ascx"     TagName = "Banner"      TagPrefix = "ucBan" %>
<%@ Register Src = "~/Controls/Navigation.ascx" TagName = "Navigation"  TagPrefix = "ucNav" %>
<%@ Register Src = "~/Controls/Footer.ascx"     TagName = "Footer"      TagPrefix = "ucFoo" %>
<%@ Register Src = "~/Controls/NavBar.ascx"     TagName = "NavBar"      TagPrefix = "ucBar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" type="text/css" href="~/Styles/GameClinicStyle.css"/>
    <title>Game Clinic</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
<form id="form1" runat="server">

<table>
    <tr>
        <td valign="top" colspan="2" class="toparea">
            <ucTop:TopArea ID = "TopArea" runat = "server" />     
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2" class="banner">
            <ucBan:Banner ID = "Banner" runat = "server" />
        </td>
    </tr>
    <tr>
        <td valign="top" class="navigation">
            <ucNav:Navigation ID = "Navigation" runat = "server" />   
        </td>
        <td valign="top" class="contentarea">
            <pre>          Home           Games           Play Now            Sign Up         Search          About Us</pre>
            <ucBar:NavBar ID = "NavBar" runat = "server" />
            <div class="contentholder">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
            </div>
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2" class="footer">
            <ucFoo:Footer ID = "Footer" runat = "server"/>
        </td>
    </tr>
</table>
</form>
</body>
</html>
