body 
{
    height:868px;
    width:1024px; 
    margin-left:auto;
    margin-right:auto;
}

.sitecontrols
{
	height:47px;
    width:1032px;
    background-color:blue;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.horizontallist li
{
    display:inline;
    list-style-type:none;
    height:25px;
    background-color:blue;
}

.controls
{
	width: 247px;
}

.specials_deals
{
    width:1032px;
    background-color:Black;
    color:White;
    height:135px;
    border-left:1px solid blue;
    border-right:1px solid blue;
    border-bottom:1px solid blue;
    border-top:1px solid blue;
}

.specials
{
    width:112px;
}

.dailydeals
{
   width:112px;
}

.popularitems
{
   width:800px;
}

.navigation
{
    height:740px;
    width:150px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.contentarea
{
    width:874px;
}

.contentholder
{
    height:695px;
    width:874px;
    background-color:White;
    color:Black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.navbar
{
    height:20px;
    width:874px;
    background-color:blue;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.footer
{
    width:150px;
    background-color:black;
    color:White;
}

.bottom
{
	height:20px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.bread
{
	height:25px;
	width:874px;
	background-color:white;
	border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}
