body 
{
    height:868px;
    width:1024px; 
    margin-left:auto;
    margin-right:auto;
}

.sitecontrols
{
	height:60px;
    width:1024px;
    background-color:Green;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.horizontallist li
{
    display:inline;
    list-style-type:none;
    height:25px;
}

.cliniclogo
{
    padding-left:325px;
    padding-right:350px;
}

.language
{
	width: 137px;
}

.themes
{
	width: 200px;
}

.controls
{
	width: 400px;
}

.logo
{
	width: 307px;
	
}

.login
{
    width: 200px;
}

.cart
{
    width: 137px;
}

.specials_deals
{
    width:1024px;
    background-color:Black;
    color:White;
    height:135px;
}

.specials
{
    width:112px;
}

.dailydeals
{
   width:112px;
}

.popularitems
{
   width:800px;
}

.navigation
{
    height:733px;
    width:150px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.contentarea
{
    width:874px;
}

.contentholder
{
    height:703px;
    width:874px;
    background-color:White;
    color:Black;
}

.navbar
{
    height:20px;
    width:874px;
    background-color:Green;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.footer
{
    width:150px;
    background-color:black;
    color:White;
}

.bottom
{
	height:20px;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}

.bread
{
	height:25px;
	width:874px;
	background-color:white;
	border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
}
