<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Clinic.master.cs" Inherits="ClinicWebApp.Clinic" %>
<%@ Register Src = "~/Controls/TopArea.ascx"    TagName = "TopArea"     TagPrefix = "ucTop" %>
<%@ Register Src = "~/Controls/Banner.ascx"     TagName = "Banner"      TagPrefix = "ucBan" %>
<%@ Register Src = "~/Controls/Navigation.ascx" TagName = "Navigation"  TagPrefix = "ucNav" %>
<%@ Register Src = "~/Controls/Footer.ascx"     TagName = "Footer"      TagPrefix = "ucFoo" %>
<%@ Register Src = "~/Controls/NavBar.ascx"     TagName = "NavBar"      TagPrefix = "ucBar" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Game Clinic</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
        .style1
        {
            font-family: Calibri;
        }
    </style>
</head>
<body>
<form id="form1" runat="server">

<div style = "height:100px; width:1024px; background-color: Green">
    <ucTop:TopArea ID = "TopArea" runat = "server" />     
</div>

<div style = "height:100px; width:1024px; background-color: Black">
    <ucBan:Banner ID = "Banner" runat = "server" />
</div>

<table>
    <tr>
        <td>
            <div style = "height:400px; width: 256px; background-color:White"">
                <ucNav:Navigation ID = "Navigation" runat = "server" />
            </div>
        </td>
        <td>
            <table>
                <tr><td>
                    <div style = "height:40; width: 768px; background-color:Black; font:calibri; color:White">
                        <span class="style1">Home&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Games&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Play Now&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        Search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        About Us</span><ucBar:NavBar ID = "NavBar" runat = "server" />
                    </div>
                </td></tr>
                <tr><td>
                    <div style = "height:400; width: 768px; background-color:White">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server" />
                    </div>
                </td></tr>
            </table>
        </td>      
    </tr> 
</table>
<div style = "height: 100px; width: 1024px; background-color:Gray">
    <ucFoo:Footer ID = "Footer" runat = "server"/>
</div>
    </form>
</body>
</html>
